@charset "UTF-8";
/* CSS Document */

body {
	font:0.9em/1.5em Helvetica, Arial, sans-serif;
	color:#fff;
	margin:0;
	padding:0;
}

s* { border:1px solid #900; }


.clear { clear:both; }


/* HEADER 
---------------------------------------*/

div.header {
	margin:0;
	padding-top:20px;
	background:#3badc1;
	overflow:hidden;
}
div.header h1 {
	margin:15px 0 0 50px;
	padding:0;
	width:184px;
	float:left;
	font-size:390%;
}
div.header div.header_text {
	margin:0 0 0 50px;
	padding:0;
	width:50%;
	float:left;
}





/* CONTENT 
---------------------------------------*/

div.content {
	margin:0;
	padding-top:20px;
	background:#302c2c;
	overflow:hidden;
}
div.content div.column1 {
	margin:0 0 0 50px;
	padding:0;
	width:400px;
	float:left;
}
div.content div.column1 img {
	float:left;
	width:184px;
}




div.content div.column2 {
	margin:0 0 0 50px;
	padding:0;
	width:50%;
	float:left;
}
div.content div.column2 h2 {
	margin:0;
	padding:0;
}



