body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #df232f;
    color: white;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

h1, h2 {
    margin: 0;
    padding: 0;
    letter-spacing: -5px;
    position: relative;
}

h1 {
    font-size: 170px;
    line-height: 130px;
}

h2 {
    font-size: 70px;
    line-height: 70px;
}

p {
    line-height: 10px;
}

.black {
    color: black;
}

.info {
    position: relative;
    left: 430px;
    font-weight: 400;
}

#swiss1 {
    left: -160px;
}

#swiss2 {
    left: -60px;
}

#swiss3 {
    left: 40px;
}

#swiss4 {
    left: 140px;
}

#style {
    left: 140px;
}