
body {

}

.game-section {
	min-height: 600px;
	background: #eee;
	display: none; /* hide all on load */
}


.garden-bg {
	position: relative;
	background-image: url(../img/floral1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.gnome {
	max-height: 200px;
}
.gnome1-target {
	position: absolute;
	background-color: red;
	width: 100px;
	height: 200px;
	left: 300px;
	top:100px;
}
.gnome2-target {
	position: absolute;
	background-color: red;
	width: 100px;
	height: 200px;
	left: 600px;
	top:300px;
}

.score {
	color: white;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	font-size: 130%;
}
#numberErrors {
	background: red;
	position: absolute;
	padding: 6px 8px;
	right: 50px;
}
#numberCorrect {
	background: black;
	position: absolute;
	padding: 6px 8px;
	right: 10px;
}
audio {
	display: none;
}
