
body {
	background-image: url(../img/bugs.png);
}
.pin { width:25px; left:-15px; top:6px; position: absolute;}
.bug-bg {
	position: relative;
	width: 700px;
	height: 467px;
	background-image: url(https://cdn.britannica.com/31/51831-050-F542EBA7/Diversity-heteropterans-lace-bug-coreid-termite-bat.jpg);
	background-size: 700px 467px;
	background-repeat: no-repeat;
	display: none;
	/* cursor: url(../img/pin.png), url(../img/pin.cur), auto; */
	cursor:crosshair;
}

.hidden-btn {
	position: absolute;
	display: block;
	z-index: 10;
	width: 115px;
	height: 205px;
	/* for testing */
	/* border: 2px solid grey; */
}

#coreid {
	top: 7px;
	left: 9px;
}

#plantbug {
	top: 5px;
	left: 219px;
}

#bedbug {
	top: 5px;
	left: 395px;
}

#stinkbug {
	height: 180px;
	top: 5px;
	left: 575px;
}

#lacebug {
	top: 104px;
	left: 115px;
}

#backswimmer {
	top: 114px;
	left: 308px;
}

#termite {
height: 166px;
	top: 144px;
	left: 478px;
}

#waterscorpion {
	top: 224px;
	left: 9px;
}

#waterstrider {
	width: 200px;
	height: 155px;
	top: 305px;
	left: 169px;
}

#toadbug {
	top: 264px;
	left: 395px;
}

#batbug {
	top: 254px;
	left: 575px;
}

.correct {
	border: 2px solid green;
}

.incorrect {
	border: 2px solid red;
}

.score {
	color: white;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	font-size: 130%;
}
#numberErrors {
	background: red;
	position: absolute;
	padding: 6px 8px;
	right: 50px;
}
#currentHighestIndex {
	background: black;
	position: absolute;
	padding: 6px 8px;
	right: 10px;
}
audio {
	display: none;
}
