

body { background: #a1d4fc; margin: 0; padding:0; }


.parallax-layer {
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
    width: 105%;
    position: absolute;
}


#sky_jet { background-image: url("../img/sky_jet.png"); background-repeat: no-repeat; left: 50%; }
#sky_cloud_left { background-image: url("../img/sky_cloud_left.png"); background-repeat: no-repeat; left:0%;}
#sky_plane { background-image: url("../img/sky_plane.png"); background-repeat: no-repeat; left:5%; }
#sky_cloud_right { background-image: url("../img/sky_cloud_right.png"); background-repeat: no-repeat; left:60%;}
#sky_helicopter { background-image: url("../img/sky_helicopter.png"); background-repeat: no-repeat; left:0%; }

#skyline3 { background-image: url("../img/skyline3.png"); background-size: cover; height: 1000px; left:0%; }
#skyline2 { background-image: url("../img/skyline2.png"); background-size: cover; left:0%; }
#skyline1 { background-image: url("../img/skyline1.png"); background-size: cover; height: 844px; left:0%; }

#ground1 { background-image: url("../img/ground1.png"); background-size: cover; }
#ground2 { background-image: url("../img/ground2.png"); background-size: cover; }
#ground3 { background-image: url("../img/ground3.png"); background-size: cover; }
