@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);


:root {
  --sl-content-width: 50rem;
}


main h1 { font-size: 1.7rem;}
main h2 { font-size: 1.55rem;}
main h3 { font-size: 1.4rem;}
main h4 { font-size: 1.25rem;}
main h5 { font-size: 1.1rem;}
main h6 { font-size: 1rem;}