body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    overflow: hidden;
    color: #2a2a2a;
    background-color: #dcebef;
}

h1 {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.todo {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.task {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #7e7e7e;
}