








/* CHART HEADER */

.dropdown_left { float: left; width: 6%; margin: 5px 0; }
.dropdown_right { float: left; width: 93%; margin: 5px 0; }

.download_link, .download_link:hover, .download_link:focus { font-size: 88%; color: #56a8cf; text-decoration: none }
.download_link_meta, .share_link_text { font-size: 88%; color: #ccc; }

.share_links { display: inline-block; float: right; }
.share_links a:link, .share_links a:visited { color: #ccc; padding-left: 5px; }
.share_links a:active, .share_links a:hover, .share_links a:focus { color: #56a8cf; }


/* ICONS */
.fa {opacity: .85}





#chart table, #chart tr, #chart th, #chart td, /* only #chart */
table, th /* all tables */ { border-collapse: collapse; border:none !important; margin: 0; padding: 0; }






/* FIXES */

/* fixed header row */
#chart table thead tr { display:block; }
#chart table th, table td { width: 60px /* fixed width */ }
#chart table tbody { display:block; height:540px; overflow:auto; /* set tbody to auto */ }






/* TABLE */
#chart-container { clear:both; margin-top: 0;  overflow-y:auto; background: #fff; font: 12px sans-serif;

max-width: 100%;
height: 540px;

overflow-x: hidden;/**/
}
#chart table { border-collapse: collapse; width:100%; border: none;  }




/* COLUMNS __ NEW __ */
#chart tbody { margin-top: 4px; }
#chart tbody tr { padding: 0; border: none;}
#chart thead th { font-weight: normal; text-align: center; margin: 0; padding: 4px 2px; }
#chart tbody td { padding: 0 4px; margin:0; text-align: center; border: none; }
#chart thead th.thTID, #chart tbody td.tid { min-width: 40px; max-width: 80px; width: 60px; }
#chart thead th.thRID, #chart tbody td.rid { min-width: 45px; max-width: 60px; width: 60px; }
#chart thead th.thEST, #chart tbody td.est { min-width: 45px; max-width: 80px; width: 80px;  }
#chart thead th.thMAR, #chart tbody td.err { min-width: 45px; max-width: 60px; width: 60px; }
#chart thead th.thEST { padding: 1px 0 }




#chart tbody td.bold { font-weight: bold; }

/* SVG CELLS */
#chart thead th.thSVG, #chart tbody td.svgCell { text-align: left; margin:0; padding:0;  }
#chart thead th.thSVG, #chart tbody td.svgCell { min-width: 100px; width:100%; max-width: 70%; width:70%;}
#chart tbody td.svgCell { height: 20px; padding: 0; margin: 0;  }
#chart tbody td.svgCell svg { border: none; position: relative; }
#chart tbody td.svgCell .svgBar { fill: red; }

/* SVG SPECIFC */
.domain { stroke: rgba(0,0,0,0) } /* removes strange stroke above svg */
#chart td { line-height: 0; }​  /* removes strange space below svg in table row */
/* AXIS */
.tick text { stroke-width: 1px; opacity: 1.0; }
.tick line { stroke-width: 1px; opacity: .2; }

.axis text { font-size: 12px; }
.axis path { display: none; }






/*
#chart tbody tr:first-child td { padding-top: 2px; }

#chart tbody rect { fill: "#990000"; }
#chart tbody tr:hover rect { fill: brown; }
*/



/**/

.button_sliding_bg_left, .button_sliding_bg_right {
    background: #fff;
    padding: 15px 10px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a8d3dd;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.4s;
}

 /*
.button_sliding_bg_left:hover {
   box-shadow: inset -200px 0 0 0 #a8d3dd;
}

.button_sliding_bg_right:hover {
    box-shadow: inset 200px 0 0 0 #a8d3dd;
}
*/
