

/* global */

body { font-family: 'Open Sans', sans-serif; font-weight: 400; padding-top: 2.5rem;}

a:link, a:hover, a:focus, a:visited, a:active { color: #56a8cf}


/* bootstrap */

/* change the background color */
.navbar-light { background-color: #fff !important; font-weight: 300;}
/* change the brand and text color */
.navbar-light .navbar-brand,
.navbar-light .navbar-text { color: #333; font-weight: 400;}
/* change the link color */
.navbar-light .navbar-nav .nav-link { color: #56a8cf; }
/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link,
.navbar-light .nav-item:focus .nav-link { color: #56a8cf; }

/* remove button outline */
.btn:focus, .btn:active { outline: none !important; box-shadow: none !important; }

.thTID button:hover, .thRID button:hover, .thEST button:hover, .thMAR button:hover,
.tid:hover, .rid:hover, .est:hover, .err:hover { cursor: pointer; }
#chart thead th button { position:relative; width: 100%; font-size: 90%; }

/* update bootstrap btn color */
.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited, .btn-outline-secondary:focus,
.btn-outline-secondary:hover {
    background-color: rgba(0,0,0,0);
    border-color: #ced4da;
    color: rgb(108, 117, 125);
}





/* HEADERS, CALLOUTS, SECTIONS */

.fa-map { margin-right: 14px; }

.header .callout { font: 1.6em/1.5em 'Roboto Slab', serif; text-align: center; margin: 30px; color: #484848; }
.section-title { font: 1.9em/1.5em 'Roboto Slab', serif; margin: 0 0 20px 0 ; color: #484848; }

.section { margin-top: 70px; }
.section-text { margin-top: 70px; }

/* fix columns */

.form_icon_col { padding-right: 5px; }
.form_select_col { padding-left: 5px; }



/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
    .rwd-line { display: inline; }
    .section-text { margin-top: 40px; }
    form { margin-top: 0; }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .rwd-line { display: block; }
    .section-text { margin-top: 1px; }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .rwd-line { display: block; }
    .section-text { margin-top: 1px; }
    form { margin-top: 30px; }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .rwd-line { display: inline; }
    .section-text { margin-top: 1px; }
    .max-width-sm { max-width: 60%; margin: 0 auto;}
}



/* footer */

.footer-container { background-color: #396590; color: #fff; padding-bottom: 70px;}
.footer-container .section-title { color: #fff; text-align: center;}
.footer-title { text-align: center; }
.footer-logo { max-height: 4em; }



/* FULLSCREEN */
#presentation:-webkit-full-screen { width: 100vw; height: 100vh; /*background-color: red;*/ }
#presentation:-moz-full-screen { width: 100vw; height: 100vh; }
#presentation:-ms-fullscreen { width: 100vw; height: 100vh; }
#presentation:fullscreen { width: 100vw; height: 100vh; }

#presentation:-webkit-full-screen #map { height:100vh; }
#presentation:-moz-full-screen #map { height: 100vh; }
#presentation:-ms-fullscreen #map { height: 100vh; }
#presentation:fullscreen #map { height: 100vh; }


#presentation:-webkit-full-screen #chart-container, #presentation:-webkit-full-screen #chart,
#presentation:-webkit-full-screen #chart table, #presentation:-webkit-full-screen tbody { height:100vh; }

#presentation:-moz-full-screen #chart-container, #presentation:-moz-full-screen #chart,
#presentation:-moz-full-screen #chart table, #presentation:-moz-full-screen tbody { height:100vh; }

#presentation:-ms-fullscreen #chart-container, #presentation:-ms-fullscreen #chart,
#presentation:-ms-fullscreen #chart table, #presentation:-ms-fullscreen tbody { height:100vh; }

#presentation:fullscreen #chart-container, #presentation:fullscreen #chart,
#presentation:fullscreen #chart table, #presentation:fullscreen tbody { height:100vh; }




/* TESTING */

#rawDataOutput { font-size: 75%; }
.debug { font-size: 70%; background: #eee; color: steelblue; padding: 4px; }
