<div class="row">
	<div class="col-12">
		<h1>Vote</h1>
	</div>
</div>

<div class="row">
	<div class="col-12">

		<p>What is your favorite color?</p>

		<form id="colorVote">

			<label for="red" class="red">red</label>
			<input type="radio" name="color" id="red" value="red">
			<br>

			<label for="green" class="green">green</label>
			<input type="radio" name="color" id="green" value="green">
			<br>

			<label for="blue" class="blue">blue</label>
			<input type="radio" name="color" id="blue" value="blue">
			<br><br>

			<input type="submit" class="btn btn-dark" value="Submit" >
		</form>


	</div>
</div>
